* {
    margin: 0px;
}

.main-pic {
    width: auto;
    height: 200px;
}

.grid-pic {
    width: 100px;
    height: auto;
    margin: 20px;
    border: #3882f6;
    border-style: solid;
    border-radius: 10px;
}

.header, .first-section, .footer {
    background-color: #1f2937;
}

.links, .statement {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #f9faf8;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.links {
    display: flex;
    gap: 20px;
}

.first-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.button-1 {
    background-color: #3882f6;
    color: #e5e7eb;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    max-width: 90px;
    padding: 5px;
    margin: 10px;
    margin-left: 0;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.second-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #f9faf8;
}

ul {
    display: flex;
    padding: 0px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    list-style: none;
    padding: 20px;
}

.third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.person {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin-left: auto;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 40px;
    border-radius: 10px;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.bottom-statement {
    display: flex;
    flex-direction: column;
}

.action {
    font-weight: bolder;
    color: #f9faf8;
}

.signup {
    color: #f9faf8;
}

.button-2 {
    border-radius: 5px;
    border-color: #f9faf8;
    border-style: solid;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    padding: 20px;
}